<div class="banner normal-page-banner">
  <div class="background-overlay">
	  <div class="banner-container">
	    <h1 class="normal-page-heading">Contact</h1>
	    <p>Get in touch with our team of professional and let us take care of the rest.</p>
	  </div>
  </div>
</div>

<div class="two-columns-section-container">
  <section class="two-columns-section">
  	<div class="two-columns-left-column">
  	  <div class="left-column-container">
	  	<div class="sub-section">
	      <h6 class="sub-heading">Get in touch</h6>
	    </div>
	    <div class="sub-section">
	      <h2>Send Message</h2>
	    </div>
	    <div class="sub-section">
	      <p>
	        Lorem ipsum dolor sit amet consectetur adipiscing elit do eiusmod tempor incididunt ut  nisi ut aliquip ex ea commodo consequat.
	      </p>
	    </div>
	    <div class="sub-section contact-details">
	      <div class="location-icon">
	      	<i class="fa-solid fa-location-dot"></i>
	      </div>
	      <div class="contact-details-content">
	      	<h6 class="sub-heading">Head Office</h6>
	      	<p>Amphitheatre Parkway, Mountain View, California, USA 94043</p>
			<ul class="contact-details-content-list">
			  <li>
				<a href="#">
				  <span class="list-icon">
				    <i aria-hidden="true" class="far fa-envelope"></i>
				  </span>
				  <span class="list-text">mail@coorp.co</span>
				</a>
			  </li>
			  <li>
			    <a href="#">
				  <span class="list-icon">
				    <i aria-hidden="true" class="fas fa-mobile-alt"></i>
				  </span>
				  <span class="list-text">+123 456 789</span>
				</a>
			  </li>
			</ul>
	      </div>
	    </div>
	  </div>
  	</div>
  	<div class="two-columns-right-column">
  		<div class="form-container">
	  		<div class="form-section">
				  <%= form_with(model: @request, url: request_form_submissions_create_path, method: "POST") do |form| %>
			  		<div class="form-item">
						  <label for="request_form_submission_name">
						    Name
						  	<span class="blue-text">*</span>
						  </label>
						  <%= form.text_field :name, class: "contact-form-input", required: true %>
					  </div>
				  	<div class="form-item">
						  <label for="request_form_submission_email">
						  	Email
						  	<span class="blue-text">*</span>
						  </label>
		  				<%= form.text_field :email, class: "contact-form-input", required: true %>
	  				</div>
					  <div class="form-item">
						  <label for="request_form_submission_comment">
						    Message
						  	<span class="blue-text">*</span>
						  </label>
					  	<%= form.text_area :comment, required: true %>
				  	</div>

			  		<div>
		  				<%= form.submit "Send Message", class: "button button-secondary" %>
	  				</div>
				  <% end %>
			  </div>
			</div>
  	</div>
  </section>
</div>
<div class="contact-map">
<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=amphitheater%20parkway%2C%20mountain%20view%2C%20CA%2C%2094043&amp;t=m&amp;z=15&amp;output=embed&amp;iwloc=near" title="amphitheater parkway, mountain view, CA, 94043" aria-label="amphitheater parkway, mountain view, CA, 94043"></iframe>
</div>
